@charset "utf-8";

/* CSS Document */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  width: 100%;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block;
}

nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

#maincontent {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

/*title of the page with is an anchor tag */
#headLink {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 5px;
}

/*to highligh element on focus for accessibility*/
#headLink:hover, #headLink:focus {
  outline: 3px solid white;
}

/*used in restaurant.html to navigate back to home page*/
#breadcrumb {
  padding: 10px 10px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 20px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  A color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  margin-top: 10px;
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
}

#map:focus {
  outline: 3px solid black;
}

#map-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.leaflet-container {
  position: relative;
}

/* ====================== Restaurant Filtering ====================== */
/*blue div holding the filter select options by location and cuisine */
.filter-options {
  width: 90%;
  max-width: 1000px;
  padding: 10px;
  background-color: #3397DB;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
  min-width: 150px;
}

.filter-options select:focus {
  outline: 3px solid black;
}

/* ====================== Restaurant Listing ====================== */
#restrnt-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*using flexbox for smaller viewports, css grid for larger viewports*/
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 30px 15px 60px;
  text-align: center;
  max-width: 1000px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

#restaurants-list li {
  display: inline-block;
  border-radius: 5%;
  background-color: lightgrey;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  min-height: 380px;
  padding: 0 10px 25px;
  text-align: center;
  width: 30%;
  min-width: 150px;
  height: 450px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  border-radius: 5%;
  display: block;
  margin: 0;
  width: 100%;
  height: 248px;
}

#restaurants-list li h1 {
  color: #3397DB;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #3397DB;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:focus {
  outline: 3px solid black;
}

/* ====================== Restaurant Details <restaurants.html>====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside {
  width: 100%;
}

.inside #map-container {
  background: white none repeat scroll 0 0;
  right: 0;
  top: 80px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  width: 100%;
}

#restaurant-name {
  color: #3397DB;
  font-family: 'Indie Flower', cursive;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  min-width: 200px;
  max-width: 620px;
}

#restaurant-address {
  font-size: 15pt;
  margin-top: 10px;
  width: 90%;
  font-family: 'Charm', cursive;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  font-family: 'Charm', cursive;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  min-width: 200px;
  max-width: 620px;
}

  #restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  max-width: 926px;
  margin-left: 5%;
  margin-right:5%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#restaurant-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #C0C0C0;
  min-width: 200px;
  max-width: 620px;
}

/*
#reviews-container {
  padding: 30px 40px 80px;
}
*/
#reviews-container h2 {
  color: #3397DB;
  font-family: 'Indie Flower', cursive;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews-list li {
  background-color: lightgrey;
  border: 2px solid #f3f3f3;
  border-radius: 2%;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 85%;
  text-align: left;
}

#reviews-list li p {
  margin: 0 0 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/*Styling for the name of the reviewer in reviews list*/
#reviews-list li p:first-child {
  width: 100%;
  background-color: black;
  color: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

#restaurant-hours td {
  text-align: left;
  color: #666;
  font-family: 'Open Sans', sans-serif;
}

#rating {
  background-color: orange;
  padding: 5pt;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  #restaurants-list {
    justify-content: center;
    width: 90%;
  }

  #restaurants-list li {
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding:0;
  }

  #breadcrumb {
    font-size: 25px;
  }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
  #restaurants-list li {
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
/*using css grid for restaurant list when viewport is large*/
@media screen and (min-width: 750px) {
  #restaurants-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  #restaurants-list li {
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 600px)  and and (max-width: 800px){
  #headLink {
    font-size: 20pt;
  }
}
@media screen and (min-width: 801px) {
  #headLink {
    font-size: 25pt;
  }
}
