html, body, header{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#maincontent {
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #252831;
  margin: 0;
  padding: 0;
}

#headLink{
  color: #fff;
  font-size: 14pt;
  text-decoration: none;
  text-transform: uppercase;
  margin:auto;
}

#headLink:hover, #headLink:focus{
  color:#E0EEEE;
}

#map {
  margin-top: 10px;
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 90%;
  max-width: 800px;
  padding: 10px;
  background-color: #3397DB;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filter-options h2 {
  font-size: 20pt;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.filter-options h2, label {
  color: white;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
  min-width: 130px;
}

.filter-options select:focus {
  outline: 3px solid black;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside {
  width: 100%;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  right: 0;
  top: 80px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  width: 100%;
}

#restaurant-name {
  color: #3397DB;
  font-family: 'Indie Flower', cursive;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  min-width: 100%;
  max-width: 620px;
  margin: auto;
}

#restaurant-address {
  font-size: 15pt;
  margin-top: 10px;
  width: 90%;
  font-family: 'Charm', cursive;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  font-family: 'Charm', cursive;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  min-width: 100%;
  max-width: 620px;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 50px 10px 30px;
  width: 80%;
  max-width: 926px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#restaurant-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #C0C0C0;
  min-width: 100%;
  max-width: 620px;
  margin: auto;
}

/*
#reviews-container {
  padding: 30px 40px 80px;
}
*/
#reviews-container h2 {
  color: #3397DB;
  font-family: 'Indie Flower', cursive;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews-list li {
  background-color: lightgrey;
  border: 2px solid #f3f3f3;
  border-radius: 2%;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  text-align: left;
}

#reviews-list li p {
  margin: 0 0 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#reviews-list li p:first-child {
  width: 100%;
  background-color: black;
  color: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

#restaurant-hours td {
  text-align: left;
  color: #666;
  font-family: 'Open Sans', sans-serif;
}

#rating {
  background-color: orange;
  padding: 5pt;
}


@media screen and (min-width: 601px) and (max-width: 800px)
{
  #headLink{
    font-size: 20pt;
  }
}

@media screen and (min-width: 801px)
{
  #headLink{
    font-size: 30pt;
  }
}
